extends ../layouts/default

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href='/events/'+event.eventtype)= event.eventtypeLabel
    li.breadcrumb-item.active= event.title
  h2= event.title
  h3.subtitle
    span.glyphicon.glyphicon-time
    |  
    if event.eventtype !== 'dancon'
      = event._.startAt.format('LLLL')
    else
      = event._.startAt.format('LLLL')
      |  - 
      = event._.endAt.format('LLLL')

  .row
    .col-md-8
      .article-content
        != event.description
    .col-md-4
      .well
        p= event.venue
        p= event.room
