extends ../layouts/default

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href='/udgivelser/'+publication.pubtype)= publication.pubtypeLabel 
    li.breadcrumb-item.active= publication.title
  h2= publication.title
  if publication.subtitle
    h3.subtitle #{publication.subtitle}
  else if publication.author
    h3.subtitle af #{publication.author}
  .row
    .col-md-8
      .article-content
        != publication.content
    .col-md-4
      img.img-responsive(src=publication.image.url)
      if publication.pubtype === 'bog'
        dl.row
          dt.col-sm-2 Pris
          dd.col-sm-10= publication.price
            |  kr
            br
            | #[span(style="color: #ff6600;") (medlemmer: #{publication.memberPrice} kr)]
          dt.col-sm-2 Sider
          dd.col-sm-10= publication.pages
          dt.col-sm-2 ISBN
          dd.col-sm-10= publication.isbn
          dt.col-sm-2 Serie
          dd.col-sm-10
            a(href="/udgivelser/bog?series="+publication.series)= publication.seriesLabel
        if !publication.futurePubdate
          a.btn.btn-order(type="button", href="/articles/static/bestilling") Bestil
  if publication.pubtype === 'bog' && similar.length
    h4 Lignende udgivelser
    .row.fix-row
      each pub, i in similar
        .col-sm-3.hidden-xs(style=i > 0 && i % 4 === 0 ? 'clear: left;' : null)
          +publication-card-short(pub)

