extends ../layouts/default

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href='/udgivelser/'+publication.pubtype)= publication.pubtypeLabel 
    li.breadcrumb-item.active= publication.title
  h2= publication.title
  if publication.subtitle
    h3.subtitle #{publication.subtitle}
  else if publication.author
    h3.subtitle af #{publication.author}
  .row
    .col-sm-7
      .article-content
        != publication.content
    .col-sm-5
      img.img-responsive(src=publication.image.url)
      if publication.pubtype === 'bog' 
        dl.row
          dt.col-sm-4 Pris
          dd.col-sm-8= publication.price
            |  kr
            br
            | #[span(style="color: #ff6600;") (medlemmer: #{publication.memberPrice} kr)]
          dt.col-sm-4 Sider
          dd.col-sm-8= publication.pages
          dt.col-sm-4 ISBN
          dd.col-sm-8= publication.isbn
          dt.col-sm-4 Serie
          dd.col-sm-8
            a(href="/udgivelser/bog?series="+publication.series)= publication.seriesLabel
          dt.col-sm-4 Udgivet
          dd.col-sm-8= publication._.pubdate.format('LL')
          if publication.ebooklink_epub
            dt.col-sm-4 E-bog
            dd.col-sm-8
              a(href=publication.ebooklink_epub, target="_blank") E-Pub
        if !publication.futurePubdate
          a.btn.btn-order(type="button", href="/form/bestilling") Bestil
      if publication.pubtype === 'cirkelserien'
        dl.row
          dt.col-sm-4 ISBN
          dd.col-sm-8= publication.isbn
  if publication.pubtype === 'bog' && similar.length
    h4(style="margin-top: 20px;").hidden-xs Lignende udgivelser
    .row.fix-row
      each pub, i in similar
        .col-sm-3.hidden-xs(style=i > 0 && i % 4 === 0 ? 'clear: left;' : null)
          +publication-card-short(pub)

