mixin publication-card(pub)
  a.publication-card(href=pub.articleUrl)
    .row
      .col-xs-6
        img.img-responsive(src=pub.image.url)
      .col-xs-6
        h5= pub.title
        if pub.subtitle
          p= pub.subtitle
        else if pub.author
          p af #{pub.author}
        if pub.pubtype === 'bog'
          if pub.futurePubdate
            p Udkommer #[span #{pub._.pubdate.format('LL')}]
          else
            p Udgivet #[span #{pub._.pubdate.format('LL')}]
        else if pub.pubtype === 'novum'
          p= pub._.pubdate.format('MMMM YYYY')
        if pub.price
          p #{pub.price} kr 
              | #[span(style="color: #ff6600;") (#{pub.memberPrice} kr)]

mixin publication-card-short(pub)
  a.publication-card-short(href=pub.articleUrl)
    .row
      .col-md-12
        h5= pub.title
    .row
      .col-md-12
        img.img-responsive(src=pub.image.url)

