include ../mixins/elements
doctype html
html(lang='da')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title= title ? 'Science Fiction Cirklen - ' + title : 'Science Fiction Cirklen'
    // CSS
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(rel='alternate', type='application/rss+xml', title='Seneste nyt fra Science Fiction Cirklen', href='/feed/rss')
    link(href='/styles/site.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    - var domain = "http://www.sciencefiction.dk";
    meta(property="og:type" name="og:type" content="website")
    meta(property="og:title" name="og:title" content=title)
    if publication
      meta(property="og:image" name="og:image" content=domain + publication.image.url)
    else
      - var imageUrl = domain + "/images/logo.jpg";
      meta(property="og:image" name="og:image" content=domain + "/images/logo.jpg")
    meta(property="og:image:width" name="og:image:width" content="720")
    meta(property="og:image:height" name="og:image:height" content="720")
    - var url = domain + uri;
    meta(property="og:url" name="og:url" content=url)


  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#sfc-navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            span.glyphicon.glyphicon-home
        // Collect the nav links, forms, and other content for toggling
        #sfc-navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown", role="button")
                | Udgivelser
                span.caret
              ul.dropdown-menu
                li
                  a(href='/udgivelser/bog') Bøger
                li
                  a(href='/udgivelser/novum') Novum
                li
                  a(href='/udgivelser/proxima') Proxima
                li
                  a(href='/udgivelser/cirkelserien') Cirkel Serien
                li
                  a(href='/udgivelser/nyeverdener') Nye Verdener
                li
                  a(href='/files/bogkatalog.pdf') Bogkatalog
                li
                  a(href='https://sciencefiction.ebog.dk') E-bøger
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown", role="button")
                | Foreningen
                span.caret
              ul.dropdown-menu
                li
                  a(href='/articles/static/om-sfc') Om SFC
                li
                  a(href='/form/medlemskab') Medlemskab
                li
                  a(href='/articles/static/bestyrelse') Bestyrelse
                li
                  a(href='/articles/static/vedtaegter') Vedtægter
                li
                  a(href='/articles/static/sfcs-historie') SFCs historie
                li
                  a(href='/articles/generalforsamling') Generalforsamlinger
                li
                  a(href='/events') Medlemsmøder
                li
                  a(href='/articles/nyhed') Nyhedsarkiv
            li
              a(href='/articles/static/faq') FAQ
            li
              a(href='/dancon') Dancon
            li
              a(href='/form/bestilling') Bestilling
            li
              a(href='/articles/static/kontakt') Kontakt
          .col-sm-12.col-md-3.pull-right
            form.navbar-form(role="search", action='/search', method='GET')
              .input-group
                input.form-control(name='search', type='text')
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    i.glyphicon.glyphicon-search
        // /.navbar-collapse
      // /.container
    // Page Content
    .container
      .row
        // Blog Entries Column
        #content.col-md-8
          block content
        // Blog Sidebar Widgets Column
        #sidebar.col-md-4
          block top-sidebar
            .well
              h4 Kommende medlemsmøder
                span.pull-right
                  a(href='/events') se alle
              if nextevents && nextevents.length
                each nextevent in nextevents
                  p
                    a(href=nextevent.articleUrl)= nextevent.title
                    br
                    = nextevent._.startAt.format('dddd, D MMMM, HH:mm')
              else
                | Ingen kommende møder
          .well
            .row
              .col-xs-6
                a(href='/form/medlemskab')
                  img.img-responsive(src='/images/medlemsskab.jpg')
              .col-xs-6
                a(href='/form/proxima-abonnement')
                  img.img-responsive(src='/images/proximaabo.jpg')
              .col-xs-12(style="margin-bottom: 10px;")
              .col-xs-6
                a(href='/form/bestilling')
                  img.img-responsive(src='/images/bestil.jpg')
              .col-xs-6
                a(href="https://www.facebook.com/groups/24423896062/", target="_blank")
                  img.img-responsive(src="/images/findfb.png")
          block middle-sidebar
            .well
              h4 Nye udgivelser
              .row
                .col-xs-6
                  +publication-card-short(novum)
                .col-xs-6
                  +publication-card-short(proxima)
          block bottom-sidebar
            .well
              h4 Prøv også
              +publication-card(random)
      // /.row
      hr
      footer
        .row
          .col-md-3.col-sm-6.col-xs-6
            p UDGIVELSER
            ul
              li: a(href='/udgivelser/bog') Bøger
              li: a(href='/udgivelser/novum') Novum
              li: a(href='/udgivelser/proxima') Proxima
              li: a(href='/udgivelser/cirkelserien') Cirkel Serien
              li: a(href='/udgivelser/nyeverdener') Nye Verdener
              li: a(href='/files/bogkatalog.pdf') Bogkatalog
          .col-md-3.col-sm-6.col-xs-6
            p FORENINGEN
            ul
              li: a(href='/articles/static/om-sfc') Om SFC
              li: a(href='/articles/static/bestyrelse') Bestyrelse
              li: a(href='/articles/static/vedtaegter') Vedtægter
              li: a(href='/articles/static/sfcs-historie') SFCs historie
              li: a(href='/articles/generalforsamling') Generalforsamlinger
              li: a(href='/articles/nyhed') Nyhedsarkiv
          .col-md-3.col-sm-6.col-xs-6
            p AKTIVITETER
            ul
              li: a(href='/events') Medlemsmøder
              li: a(href='/dancon') Dancon
              li: a(href='https://www.facebook.com/groups/24423896062/', target="_blank") Facebook gruppe
          .col-md-3.col-sm-6.col-xs-6
            p GENVEJE
            ul
              li: a(href='/form/medlemskab') Medlemskab
              li: a(href='/form/bestilling') Bestilling
              li: a(href='/form/proxima-abonnement') Proxima abonnement
              li: a(href='/articles/static/faq') FAQ om science fiction
              li: a(href='/articles/static/kontakt') Kontakt os
              li: a(href='/feed/rss') RSS feed
    // /.container
    // jQuery
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    // Bootstrap Core JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    // ReCaptcha
    // script(src='https://www.google.com/recaptcha/api.js')
